body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    position: relative;
    margin: 0;
    padding: 0;
}

.square {
    position: absolute;
    width: 6.5cm;
    height: 6.5cm;
    box-sizing: border-box;
    border: 2px solid black;
    perspective: 1000px;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

#square1 {
    left: 0;
    top: 0;
}

.square.hidden {
    opacity: 0;
}

.square.unfold {
    opacity: 1;
}

/* Styles communs pour l'effet de retournement */
.square .front,
.square .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    box-sizing: border-box;
}

.square .front {
    background-color: black;
    color: white;
}

.square .back {
    background-color: white;
    color: black;
}

/* Effet de retournement pour les carrés allant vers la droite (gauche à droite) */
.flip-horizontal .front {
    transform: rotateY(0deg);
    transform-origin: left;
    transition: transform 0.5s ease;
}

.flip-horizontal.flip .front {
    transform: rotateY(-180deg);
}

.flip-horizontal .back {
    transform: rotateY(180deg);
    transform-origin: left;
    transition: transform 0.5s ease;
}

.flip-horizontal.flip .back {
    transform: rotateY(0deg);
}

/* Effet de retournement pour les carrés allant vers la gauche (droite à gauche) */
.flip-horizontal-reverse .front {
    transform: rotateY(0deg);
    transform-origin: right;
    transition: transform 0.5s ease;
}

.flip-horizontal-reverse.flip .front {
    transform: rotateY(180deg);
}

.flip-horizontal-reverse .back {
    transform: rotateY(-180deg);
    transform-origin: right;
    transition: transform 0.5s ease;
}

.flip-horizontal-reverse.flip .back {
    transform: rotateY(0deg);
}

/* Effet de retournement pour les carrés allant vers le bas (haut en bas) */
.flip-vertical .front {
    transform: rotateX(0deg);
    transform-origin: top;
    transition: transform 0.5s ease;
}

.flip-vertical.flip .front {
    transform: rotateX(-180deg);
}

.flip-vertical .back {
    transform: rotateX(180deg);
    transform-origin: top;
    transition: transform 0.5s ease;
}

.flip-vertical.flip .back {
    transform: rotateX(0deg);
}

/* Design réactif */
@media (max-width: 768px) {
    .square {
        width: 50vw;
        height: 50vw;
    }
}

@media (max-width: 480px) {
    .square {
        width: 70vw;
        height: 70vw;
    }
}
