body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    position: relative;
    margin: 20px; /* Ajustez la marge selon vos préférences */
}

.square {
    position: absolute;
    width: 6.5cm;
    height: 6.5cm;
    box-sizing: border-box;
    border: 2px solid black;
    perspective: 1000px;
    cursor: pointer;
    transform-origin: left center;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#square1 {
    left: 0;
    top: 0;
}

.square.hidden {
    opacity: 0;
    transform: rotateY(-90deg); /* Commence plié */
}

.square.unfold {
    opacity: 1;
    transform: rotateY(0); /* Déplié */
}

.square .front,
.square .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    box-sizing: border-box;
    /* Supprimer la bordure ici */
    /* border: 2px solid black; */
}

.square .front {
    background-color: black;
    color: white;
}

.square .back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
}

.square.flip .front {
    transform: rotateY(180deg);
}

.square.flip .back {
    transform: rotateY(0deg);
}

/* Responsive Design */
@media (max-width: 768px) {
    .square {
        width: 50vw;
        height: 50vw;
    }
}

@media (max-width: 480px) {
    .square {
        width: 70vw;
        height: 70vw;
    }
}
